:root {
  --cor01: #D96299;
  --cor02: #745549;
  --cor03: #43291F;
  --cor04: #fff; 
  --header-height: 60px;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--header-height);
  padding-bottom: 30px;
}

/* Caixa central */
.container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  max-height: 80vh;
  overflow-y: auto;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--cor03);
  color: var(--cor04);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-pequeno {
  height: 40px;
  width: auto;
  border-radius: 50%;
}

.logo {
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}

.logo .realce {
  color: var(--cor01);
}

.fixed-header h1 {
  margin: 0;
  font: 1.2em;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  gap: 10px;
}

#taskInput {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  border: none;
  background: var(--cor01);
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #4CAF50;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
}

.completed {
  text-decoration: line-through;
  color: var(--cor02);
}

li input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  accent-color: var(--cor02);
}

footer {
  width: 100%;
  background: var(--cor03);
  color: var(--cor04);
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  margin-top: auto;
  border-top: auto;

}
a {
  color: var(--cor01);
}

a:hover{
  color: var(--cor01);
}