/* Estilo geral */

:root {
  --cor01: #D96299;
  --cor02: #745549;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  display: flex;
  justify-content: center;
  padding: 30px;
}

/* Caixa central */
.container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  gap: 10px;
}

#taskInput {
  flex: 1;
  /* ocupa o máximo do espaço */
  padding: 8px;
}

button {
  padding: 8px 12px;
  border: none;
  background: var(--cor01);
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  /* background: #45a049; */
  background: #4CAF50;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
}

.completed {
  text-decoration: line-through;
  /* color: gray; */
  color: var(--cor02);
}

li input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  /* deixa o checkbox maior */
}

footer {
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  color: #555;
  font-size: 14px;
}
a {
  color: var(--cor02);
}

a:hover{
  color: var(--cor01);
}